:root {
    font-family: sans-serif;
    --foreground-color: #000000;
    --background-color: #ffffff;
    --shaded-color: #cecece;
    --dark-shaded-color: #6a6a6a;
    --light-shaded-color: #dfdfdf;
    --nav-color: linear-gradient(to right, #994700, #3a1b00);
    overflow: hidden;
    background-color: var(--background-color);
    color: var(--foreground-color);
}

@media (prefers-color-scheme: dark) {
    :root {
        --foreground-color: #ffffff;
        --background-color: #000000;
        --shaded-color: #0c0c0c;
        --dark-shaded-color: #080808;
        --light-shaded-color: #2f2f2f;
        --max-width: max-content;
        --nav-color: linear-gradient(to right, #8f4300, #381a00);
    }
}

body {
    margin: 0px;
}

.navbar-logo {
    position: absolute;
    top: 2.8%;
    height: 50px;
    margin: 0px;
    margin: 0px 15px;
}

.navbar {
    padding: 22px;
    background: var(--nav-color);
}

.navbar-title {
    opacity: 100%;
    margin: 5px;
    margin-bottom: 12px;
    margin-left: 80px;
    color: #ffffff;
}

.creds {
    opacity: 100%;
    margin: 5px;
    margin-left: 116px;
    margin-top: -20px;
    font-size: 11px;
    color: #ffffff;
}

.creds a {
    color: #ffffff;
    text-decoration: none;
    font-family: monospace;
}

.creds a:hover {
    text-decoration: underline;
}

.account-button {
    position: absolute;
    top: 21px;
    right: 16px;
    background-color: transparent;
    color: var(--shaded-color);
    border-radius: 9px;
    border: none;
}

.account-button svg {
    width: 40px;
    height: 40px;
}

.account-button:hover {
    cursor: pointer;
}

.account-settings-sidebar {
    position: absolute;
    top: 50%;
    left: 20%;
    transform: translate(-50%, -50%);
    background-color: var(--shaded-color);
    color: var(--foreground-color);
    display: flex;
    flex-direction: column;
    height: 46%;
    width: 12%;
    gap: 10px;
    padding: 10px;
    border-radius: 9px;
    border: none;
}

.account-settings-sidebar-button {
    background-color: var(--light-shaded-color);
    color: var(--foreground-color);
    padding: 8px;
    font-size: 18px;
    border-radius: 9px;
    border: none;
}

.account-settings-sidebar-button:hover {
    cursor: pointer;
    scale: 1.1;
    transition: all 0.2s ease-in-out;
}

.account-settings-account-panel, .account-settings-theme-panel, .account-settings-ai-models-panel, .account-settings-danger-zone-panel, .account-settings-default-panel {
    position: absolute;
    top: 50%;
    left: 58.6%;
    padding: 10px;
    padding-left: 15px;
    transform: translate(-50%, -50%);
    background-color: var(--shaded-color);
    color: var(--foreground-color);
    font-size: 15px;
    width: 60%;
    height: 46%;
    border-radius: 9px;
    border: none;
}

.account-settings-account-panel-username-input, .account-settings-account-panel-password-input {
    background-color: var(--dark-shaded-color);
    color: var(--foreground-color);
    width: 17vw;
    padding: 12px;
    border: none;
    border-radius: 9px;
    margin-bottom: 10px;
}

.account-settings-account-panel-username-input:focus, .account-settings-account-panel-password-input:focus {
    outline: none;
}

.account-settings-account-panel-button {
    background-color: var(--light-shaded-color);
    color: var(--foreground-color);
    padding: 8px;
    font-size: 18px;
    width: 19vw;
    border-radius: 9px;
    border: none;
}

.account-settings-account-panel-button:hover {
    cursor: pointer;
    scale: 1.1;
    transition: all 0.2s ease-in-out;
}

.theme-color-grid {
    display: flex;
    gap: 40px;
    margin: 20px 0;
}

.theme-color-column {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.theme-color-row {
    display: flex;
    align-items: center;
    gap: 10px;
}

.theme-color-input {
    width: 30px;
    height: 30px;
    background-color: transparent;
    border-radius: 2px;
    border: none;
    padding: 2px;
}

.theme-color-input::-webkit-color-swatch {
    border: none;
    border-radius: 9px;
    padding: 0;
}

.theme-color-input::-webkit-color-swatch-wrapper {
    border: none;
    border-radius: 9px;
    padding: 0;
}

.theme-color-label {
    font-size: 18px;
    font-weight: 500;
    margin: 0;
}

.account-settings-theme-panel-create-theme-button {
    background-color: var(--light-shaded-color);
    color: var(--foreground-color);
    padding: 8px;
    font-size: 18px;
    width: 50%;
    margin-top: -5px;
    border-radius: 9px;
    border: none;
}

.preset-theme-color-option { 
    position: relative;
    top: -32.2vh;
    margin-left: 79vh;
    font-weight: 500;
}

.preset-theme-color-radio {
    position: relative;
    top: -33.2vh;
    margin-left: 79vh;
    vertical-align: middle;
    transition: transform 0.2s ease;
    cursor: pointer;
}

.preset-theme-color-radio:active {
    transform: scale(0.9);
}

.preset-theme-color-label {
    position: relative;
    top: -36vh;
    margin-left: 82vh;
    margin-bottom: 0px;
    font-weight: 500;
    display: inline-block;
    vertical-align: middle;
}

.account-settings-danger-zone-panel-button {
    background-color: #aa0000;
    color: #ffffff;
    padding: 8px;
    font-size: 18px;
    width: 30vh;
    margin-top: 8px;
    border-radius: 9px;
    border: none;
}

.account-settings-danger-zone-panel-button:hover {
    cursor: pointer;
    scale: 1.1;
    transition: all 0.2s ease-in-out;
}

.account-settings-danger-zone-panel p {
    font-size: 16px;
    font-weight: 400;
    color: var(--light-shaded-color);
}

.chat-area {
    margin: 0px;
    margin-top: 5px;
    border-radius: 9px;
    max-height: 64vh;
    overflow-y: auto;
}

.model-warning {
    background-color: var(--shaded-color);
    color: var(--foreground-color);
    padding: 4px;
    font-size: 8px;
    position: relative;
    font-weight: medium;
    left: 50%;
    transform: translate(-50%);
    margin-top: 6px;
    border-radius: 9px;
    text-align: center;
    width: 28%;
    height: 30%;
}

.model-warning p {
    font-size: 12px;
    font-weight: 400;
}

.chat-output-box {
    padding: 20px;
    padding-top: 4px;
    margin-top: 114px;
    margin-top: auto;
    margin: 18px;
    overflow: hidden;
    width: fit-content;
    border-radius: 9px;
    font-size: large;
    background-color: var(--shaded-color);
    color: var(--foreground-color);
}

.chat-output-logo {
    margin: 0px;
    margin-top: 5px;
}

.chat-output-text {
    margin-top: -32px;
    margin-left: 36px;
}

.user-message-box {
    padding: 20px;
    padding-top: 4px;
    margin-top: 14px;
    margin-bottom: 18px;
    margin-left: 100%;
    width: fit-content;
    float: right;
    text-align: right;
    margin: 18px;
    border-radius: 9px;
    font-size: large;
    background-color: var(--shaded-color);
    color: var(--foreground-color);
}

.user-avatar {
    margin: 0px;
    margin-right: -8px;
    margin-top: 5px;
    border-radius: 9px;
}

.input-section {
    inline-size: 96.5%;
    margin-inline-start: 13px;
    position: absolute;
    inset-block-end: 13px;
    border-radius: 19px;
    padding: 2px;
    background-color: var(--shaded-color);
    opacity: 95%;
}

.input-form-container {
    margin: 13px;
    width: 13.5%;
}

.message-input {
    background-color: var(--background-color);
    color: var(--foreground-color);
    inline-size: 86.5%;
    position: absolute;
    inset-block-end: 14px;
    border: none;
    block-size: 36%;
    border-radius: 9px;
    margin-inline-start: 10px;
    padding: 10px;
}

.send-button {
    background-color: var(--background-color);
    color: var(--foreground-color);
    position: absolute;
    inset-block-end: 13px;
    font-size: 110%;
    padding: 2px;
    inline-size: 62px;
    block-size: 49px;
    inset-inline-end: 13px;
    border: none;
    border-radius: 16px;
    margin-inline-start: 10px;
    padding: 10px;
}

.send-button:hover {
    cursor: pointer;
    background-color: #131313;
    transition: all 0.2s ease-in-out;
}

.suggestions-container {
    padding: 20px;
    position: absolute;
    top: 45%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);   
    font-size: large;
    color: var(--foreground-color);
}

.suggestion-button {
    background-color: var(--background-color);
    color: var(--foreground-color);
    padding: 10px;
    margin-top: 12px;
    font-size: large;
    border-radius: 9px;
    border: var(--light-shaded-color) solid 2px;
}

.suggestion-button:hover {
    cursor: pointer;
    scale: 1.2;
    background-color: var(--shaded-color);
    transition: all 0.2s ease-in-out
}

.delete-chat-icon {
    position: absolute;
    top: 18px;
    right: 18px;
    width: 50px;
}

.delete-chat-popup, .missing-google-api-key-error, .missing-openai-api-key-error, .account-settings {
    position: absolute;
    z-index: 50;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.4);
    height: 100%;
    width: 100%;
}

.delete-chat-popup-box {
    background-color: var(--shaded-color);
    color: var(--foreground-color);
    padding: 4px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 9px;
    text-align: center;
    width: 30%;
    height: 30%;
}

.delete-chat-popup-heading {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 0px;
}

.delete-chat-popup-description {
    font-size: 16px;
    margin-top: 8px;
    font-weight: 400;
}

.delete-chat-cancel-button {
    position: absolute;
    background-color: var(--background-color);
    color: var(--foreground-color);
    top: 68%;
    left: 26%;
    width: 45%;
    transform: translate(-50%, -50%);
    padding: 8px;
    font-size: large;
    border-radius: 6px;
    border: none;
    margin-top: 20px;
}

.delete-chat-cancel-button:hover {
    cursor: pointer;
    background-color: var(--light-shaded-color);
    transition: all 0.2s ease-in-out;
}

.delete-chat-delete-button {
    position: absolute;
    background-color: #fa0000;
    color: #ffffff;
    top: 68%;
    right: -19%;
    width: 45%;
    transform: translate(-50%, -50%);
    padding: 8px;
    font-size: large;
    border-radius: 6px;
    border: none;
    margin-top: 20px;
}

.delete-chat-delete-button:hover {
    cursor: pointer;
    background-color: #ff0000;
    transition: all 0.2s ease-in-out;
}

.missing-google-api-key-error-box, .missing-openai-api-key-error-box {
    background-color: var(--shaded-color);
    color: var(--foreground-color);
    padding: 4px;
    padding-right: 16px;
    width: 74vw;
    height: 20vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 9px;
}

.missing-google-api-key-error-heading, .missing-openai-api-key-error-heading {
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 12px;
    margin-left: 16px;
}

.missing-google-api-key-error-text, .missing-openai-api-key-error-text {
    font-size: 16px;
    font-weight: 400;
    margin-left: 18px;
}

.missing-google-api-key-error-text a, .missing-openai-api-key-error-text a {
    font-weight: 600;
    text-decoration: none;
    color: var(--light-shaded-color);
}

.missing-google-api-key-error-text a:hover, .missing-openai-api-key-error-text a:hover {
    cursor: pointer;
}

.missing-google-api-key-error-input-box, .missing-openai-api-key-error-input-box {
    background-color: var(--background-color);
    color: var(--foreground-color);
    padding: 8px;
    width: 71.8vw;
    margin-left: 18px;
    border-radius: 9px;
    border: none;
}

.missing-google-api-key-error-input-box:focus, .missing-openai-api-key-error-input-box:focus {
    outline: none;
}

.missing-google-api-key-error-button, .missing-openai-api-key-error-button {
    background-color: var(--light-shaded-color);
    color: var(--foreground-color);
    width: 71.8vw;
    padding: 8px;
    font-size: large;
    border-radius: 6px;
    margin-left: 20px;
    border: none;
    margin-top: 20px;
}

.missing-google-api-key-error-button:hover, .missing-openai-api-key-error-button:hover {
    cursor: pointer;
    scale: 1.02;
    transition: all 0.2s ease-in-out;
}

.no-data-message {
    position: absolute;
    font-size: 50px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -160%);
}

.existing-chat-button {
    position: absolute;
    font-size: 17px;
    top: 50%;
    left: 50%;
    background-color: var(--shaded-color);
    color: var(--foreground-color);
    transform: translate(-50%, 30%);
    padding: 12px;
    border-radius: 9px;
    border: none;
}

.existing-chat-button:hover {
    cursor: pointer;
    background-color: var(--light-shaded-color);
    transition: all 0.2s ease-in-out;
}

.signup-box, .login-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -40%);
    width: 20%;
    height: 45%;
    background-color: var(--shaded-color);
    text-align: center;
    border-radius: 9px;
    padding: 20px;
    padding-top: 10px;
}

.signup-box-username-input, .signup-box-password-input, .login-box-username-input, .login-box-password-input {
    background-color: var(--dark-shaded-color);
    color: var(--foreground-color);
    width: 17vw;
    padding: 12px;
    border: none;
    border-radius: 9px;
    margin-bottom: 10px;
}

.signup-box-username-input:focus, .signup-box-password-input:focus, .login-box-username-input:focus, .login-box-password-input:focus {
    outline: none;
}

.signup-button, .login-button {
    background-color: var(--light-shaded-color);
    color: var(--foreground-color);
    width: 18.5vw;
    padding: 8px;
    font-size: large;
    border-radius: 6px;
    border: none;
    margin-top: 2px;
}

.signup-button:hover, .login-button:hover {
    cursor: pointer;
    scale: 1.1;
    transition: all 0.2s ease-in-out;
}

.error-box {
    background-color: #810000;
    font-size: 14px;
    width: 18.8vw;
    padding: 0.02px;
    margin-top: -12px;
    margin-bottom: 12px;
    margin-left: 8px;
    border-radius: 9px;
}

@keyframes expand {
    0% {
        transform: translate(-50%, -50%) scale(1);
        background-color: var(--shaded-color);
    }
    25% {
        transform: translate(-50%, -50%) scale(100);
        background-color: var(--shaded-color);
    }
    50% {
        transform: translate(-50%, -50%) scale(100);
        background-color: var(--shaded-color);
    }
    75% {
        transform: translate(-50%, -50%) scale(100);
        background-color: var(--shaded-color);
    }
    100% {
        transform: translate(-50%, -50%) scale(1);
        background-color: var(--shaded-color);
    }
}

@keyframes fade {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }    
}

::-webkit-scrollbar {
    background-color: var(--background-color);
    width: 6px;
}

::-webkit-scrollbar-thumb {
    background-color: var(--light-shaded-color);
    border-radius: 9px;
    width: 2px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--shaded-color);
    transition: all 0.2s ease-in-out;
}

::-webkit-scrollbar-corner {
    display: none;
}

::-webkit-scrollbar-button {
    display: none;
}